
@font-face 	{
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Black.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/_Woff2/KalamehWeb(FaNum)-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/_woff/KalamehWeb(FaNum)-Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/_TTF/Kalameh(FaNum)-Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Bold.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/_Woff2/KalamehWeb(FaNum)-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/_woff/KalamehWeb(FaNum)-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/_ttf/Kalameh(FaNum)-Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/_Woff2/KalamehWeb(FaNum)-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/_TTF/Kalameh(FaNum)-Regular.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/_Woff2/KalamehWeb(FaNum)-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../fonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/_TTF/Kalameh(FaNum)-Regular.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/_Woff2/KalamehWeb(FaNum)-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../fonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/_TTF/Kalameh(FaNum)-Regular.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot');
	src: url('../fonts/_eot/KalamehWeb(FaNum)-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('../fonts/_Woff2/KalamehWeb(FaNum)-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('../fonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('../fonts/_TTF/Kalameh(FaNum)-Regular.ttf') format('truetype');
}
